* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("bg.jpg");
  color: aliceblue;
  margin: 0;
  font-family: "san-serif", "Arial Black", "Montserrat", "Avenir";
}

main {
  display: flex;
}

h2 {
  padding-bottom: 10px;
}

#score {
  text-align: center;
  margin-top: 100px;
}